/* .header__ul--navBar{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
} */
/* .table{
    margin: 0rem 50rem;
} */
/* .table__tbody--dataEmployer{
    text-align: center;
} */

/* .table__row--input {

} */


  


/* .navBar__ul--li:visited, .navBar__ul--li:link, .navBar__ul--li:active {
    text-decoration: none;

}

.navBar__ul--li a {
    text-decoration: none;
    color: rgb(62, 54, 54);

}

.active {
    font-weight: bold;
    color: black;
} */